<article class="card mb-2">
    <div class="card-body">
        <p>Mensaje a Encriptar: {{this.origin}}</p>
        <p>Mensaje Cifrado: </p>
        <a href="/eliminar/{{this._id}}" class="btn btn-danger">Eliminar Mensaje</a>
        <a href="/editar/{{this._id}}" class="btn btn-warning">Editar Mensaje</a>
        <button data-short="{{this._id}}" href="#" class="btn btn-info">Encriptar</button>
    </div>
</article>